# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
  MAVEN_TOKEN: ${{ secrets.MAVEN_TOKEN }}

jobs:
  front-end:
    name: Angular Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 16 ]
    steps:
      # {2}
      - name: Checkout the source code
        uses: actions/checkout@v3

      # {3}
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: ./front-end/package-lock.json
          registry-url: 'https://npm.pkg.github.com'

      - name: Install dependencies
        run: npm install
        working-directory: ./front-end

      - name: Run tests
        run: npm run test
        working-directory: ./front-end

      - name: Build
        run: npm run build
        working-directory: ./front-end

        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}